<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- This was written by Sushant Abrin -->

  </head>
  <body>

<!-- This was written by Sushant Abrin -->

    <footer class="page-footer bg-primary">
           <div class="container">
             <div class="row">
               <div class="col l6 s12">
                 <h5 class="white-text">SABRIN CURIOSITY</h5>
                 <p class="grey-text text-lighten-4" align="justify">This was my first project on Django which revolves around
                   CRUD (Create, Retrieve, Update, Delete) operations. If you have any queries, you can contact
                   using the links given.
                 </p>
               </div>
               <div class="col l4 offset-l2 s12">
                 <h5 class="white-text">Contact:</h5>
                 <p>
                   <a class="grey-text text-lighten-3" href="https://github.com/sushantabrin"><i class="fa fa-github" style="font-size:36px">&ensp;</i></a>
                   <a class="grey-text text-lighten-3" href="https://www.linkedin.com/in/sushant-abrin-1b565b146/"><i class="fa fa-linkedin-square" style="font-size:36px">&ensp;</i></a>
                   <a class="grey-text text-lighten-3" href="mailto:abrinsushant@gmail.com"><i class="fa fa-google-plus" style="font-size:36px">&ensp;</i></a>
                   <a class="grey-text text-lighten-3" href="instagram.com/sushantabrin"><i class="fa fa-instagram" style="font-size:36px">&ensp;</i></a>
                 </p>
               </div>
             </div>
           </div>
           <div class="footer-copyright">
             <div class="container">
              Copyright © 2022, Sushant Abrin
             <a class="grey-text text-lighten-4 right" href="https://www.geeksforgeeks.org/django-crud-create-retrieve-update-delete-function-based-views/">Click here to know more about CURD Operations</a>
             </div>
           </div>
    </footer>

  </body>
</html>
