{%extends 'base.html'%}

{%block title%} Welcome to Sabrin Curiosity {%endblock%}

{%block content%}

<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body><br><br>
  <center><img src="https://cdn4.avada.io/media/shopify/kYJhNhV.jpg" class="responsive-img" style="object-fit:cover;" alt=""></center>

  <br><br>
        <div class="jumbotron">
        <h1 class="display-4">The important thing is not to stop questioning… Never lose a holy curiosity.</h1>
        <p class="lead">Intellectual curiosity is so important! We see that most clearly in how it manifests itself in geniuses. Intellectual giant
                        are always curious persons. For example, Thomas Edison, Leonardo da Vinci, Albert Einstein, Richard Feynman are
                        all curious characters. Richard Feynman was especially known for his adventures which came from his curiosity.
                        <br>Curiosity is not only important for those with high IQs. Successful students (and people who are successful after
                        college) often display a good measure of intellectual curiosity.<br>
                        But why is curiosity so important? Here are four reasons:</p>
        <hr class="my-4">
        <p><strong>1. It makes your mind active instead of passive</strong>
                    Curious people always ask questions and search for answers. Their minds are always active. Since the mind
                    is like a muscle which becomes stronger through continual exercise, the mental exercise caused by curiosity
                    makes your mind stronger and stronger.<br>
                    <strong>2. It makes your mind observant of new ideas</strong>
                    When you are curious about something, your mind expects and anticipates new ideas related to the subject.
                    When the ideas come you will recognize them. Without curiosity, the ideas may pass right in front of you and
                    yet you miss them because your mind is not prepared to recognize them. Just think, how many great ideas
                    may have been lost due to lack of curiosity?<br>
                    <strong>3. It opens up new worlds and possibilities</strong>
                    By being curious you will be able to see new worlds and possibilities that are normally not visible. They are
                    hidden behind the surface of normal life, and it takes a curious mind to look beneath the surface and discover
                    these new worlds and possibilities.<br>
                    <strong>4. It brings excitement into your life</strong>
                    The lives of curious people are far from boring. They are neither dull nor routine. There are always new things
                    that attract the curious person’s attention, the</p>
        <p class="lead">
        <a class="btn btn-primary btn-lg" href="/home/" role="button">Take me there!</a>
        </p>
        </div>

        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


</body><br>

{%endblock%}
